<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdf-M4pIa9fwGImGOVKymKZY-LIL-ia-k</string>
	<key>GCM_SENDER_ID</key>
	<string>773318011609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.todopro</string>
	<key>PROJECT_ID</key>
	<string>todopro-bewv1q</string>
	<key>STORAGE_BUCKET</key>
	<string>todopro-bewv1q.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773318011609:ios:7ce717b435a8c35ba62cc8</string>
</dict>
</plist>